.studies-page {
  background: url("../images/img-studies-title.png") no-repeat;
  background-position-y: 19.6rem;
  background-position-x: right;
  h2 {
    font-family: Noto Sans KR, sans-serif;
    font-size: 3.2rem;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.19;
    letter-spacing: -0.101rem;
  }
  > section:nth-child(1) {
    > h1:nth-child(1) {
      margin-bottom: 0.7rem;
    }
    > h1:nth-child(2) {
      margin: 0 0 4rem;
      font-family: Montserrat, sans-serif;
      font-size: 5.6rem;
      font-weight: bold;
    }
    > p {
      font-family: Noto Sans KR, sans-serif;
      font-size: 1.6rem;
      font-weight: 500;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.88;
      letter-spacing: normal;
      margin: 0 0 10.3rem;
    }
    > .grid {
      position: relative;
      margin-bottom: 14rem;
      > div {
        vertical-align: top;
        display: inline-block;
        position: relative;
        width: calc(33.33% - 1.6rem);
        height: 56rem;
        background-color: #121212;
        margin-right: 2.4rem;
        margin-bottom: 2.4rem;
        &:nth-child(3n + 3) {
          margin-right: 0;
        }
        &:nth-child(n + 4) {
          margin-bottom: 0;
        }
        h3 {
          font-family: Noto Sans KR, sans-serif;
          font-size: 2.4rem;
          font-weight: bold;
          font-stretch: normal;
          font-style: normal;
          line-height: 1.58;
          letter-spacing: -0.076rem;
          margin: 0;
          position: absolute;
          left: 3.2rem;
          top: 5.6rem;
        }
        p {
          opacity: 0.87;
          font-family: Noto Sans KR, sans-serif;
          font-size: 1.4rem;
          font-weight: 500;
          font-stretch: normal;
          font-style: normal;
          line-height: 2;
          letter-spacing: normal;
          margin: 0;
          position: absolute;
          left: 0;
          top: 33.6rem;
          width: 100%;
          padding-left: 3.2rem;
          padding-right: 3.2rem;
          box-sizing: border-box;
        }
        @for $i from 1 through 6 {
          &:nth-child(#{$i}) {
            background-image: url("../images/ic_studies_0"+$i+".svg");
            background-repeat: no-repeat;
            background-position-x: right;
          }
        }
        &:nth-child(1) {
          background-position-y: 9.8rem;
        }
        &:nth-child(2) {
          background-position-y: 15rem;
        }
        &:nth-child(3) {
          background-position-y: 13.8rem;
        }
        &:nth-child(4) {
          background-position-y: 11.7rem;
        }
        &:nth-child(5) {
          background-position-y: 14.4rem;
        }
        &:nth-child(6) {
          background-position-y: 13.8rem;
        }
      }
    }
  }
  > section.topics {
    background: url("../images/img-studies-01.jpg") no-repeat;
    height: 92rem;
    background-position-x: center;
    background-size: auto 92rem;
    box-sizing: border-box;
    padding-top: 8.8rem;
    > h2 {
      margin-top: 0;
      margin-bottom: 0;
    }
  }
  > section.growth {
    padding-top: 16rem;
    height: 101rem;
    box-sizing: border-box;
    h2 {
      margin-top: 0;
      margin-bottom: 4rem;
    }
    p {
      font-family: Noto Sans KR, sans-serif;
      font-size: 1.4rem;
      font-weight: 500;
      font-stretch: normal;
      font-style: normal;
      line-height: 2;
      letter-spacing: normal;
      margin: 0 0 5.4rem;
    }
    img {
      width: 90rem;
    }
  }
}

@import "./Studies_responsive.scss";
